.card-style-wrapper {
    background-color: rgb(227, 227, 227);
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    height: 100%;
    width: 75%;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: 250px;                 
  gap: 20px;
}

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 2;
}
.w-4 {
  grid-column: span 1;
}

.style-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    height: 100%;
}

.style-card:hover {
    transform: scale(1.02);
}

.style-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.style-label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #000;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
}